@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Input */
.custom-input {
  border-radius: 30px;
  border: 2px solid #d9d9d9;
  height: 45px;
  padding: 0 16px;
  background-color: #fffcfc;
  transition: border-color 0.3s;
}

.custom-input:focus,
.custom-input-focused {
  border-color: #5fb57f !important;
  box-shadow: 0 0 0 2px rgba(95, 181, 127, 0.2);
}

.custom-password-input .ant-input {
  border-radius: 30px;
}
