@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 150 30% 60%;
  --primary-foreground: 150 40% 16%;
  --card: 180 20% 99%;
  --card-foreground: 200 8% 24%;
  --background: 180 20% 99%;
  --foreground: 200 8% 24%;
}
/*Custom Input */
.custom-input {
  border-radius: 30px;
  border: 2px solid #d9d9d9;
  height: 45px;
  padding: 0 16px;
  background-color: #fffcfc;
  transition: border-color 0.3s;
}

.custom-input:focus,
.custom-input-focused {
  border-color: #5fb57f !important;
  box-shadow: 0 0 0 2px rgba(95, 181, 127, 0.2);
}

.custom-password-input .ant-input {
  border-radius: 30px;
}

.custom-label .ant-form-item-label > label {
  @apply text-base font-normal text-black px-2;
}

.google_btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text {
  font-size: 14px;
  color: #2c444e;
  margin: 5px 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

@keyframes waveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-waves {
  background-size: 200% 200%;
  animation: waveBackground 12s ease-in-out infinite;
}

/* Custom spinner style */
.custom-spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1890ff;
  /* Ant Design blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: auto;
  /* center horizontally */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ReactBarsLoader.css */
.bars-loader {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.bar {
  width: 6px;
  height: 20px;
  background-color: #f87171;
  animation: pulse 1s infinite ease-in-out;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}

.bar:nth-child(3) {
  animation-delay: 0.4s;
}

.bar:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}

.ant-notification {
  z-index: 9999 !important;
}

.ant-notification-notice-message {
  display: block !important;
  color: #000 !important;
  font-weight: bold;
}

canvas.animated-background-canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -10 !important;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

.merienda {
  font-family: "Merienda", cursive;
  font-weight: 400;
  /* or 700 if you want bold */
}

.ant-input-affix-wrapper,
.ant-input-password {
  border-radius: 12px !important;
  /* or 0px to remove rounding */
}

.ant-input {
  border-radius: 2px !important;
}

.ant-form-item {
  margin-bottom: 12px;
  /* default is 24px; reduce as needed */
}

.Modal-root {
  z-index: 9999 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  padding-top: 30px;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.app {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 0;
}

html {
  @apply scroll-smooth;
}

